<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div style="background-color:#ECECEC; padding: 35px;">
    <table cellpadding="0" align="center"
           style="width: 600px; margin: 0px auto; text-align: left; position: relative; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; font-size: 14px; font-family:微软雅黑, 黑体; line-height: 1.5; box-shadow: rgb(153, 153, 153) 0px 0px 5px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;background:#fff;">
        <tbody>
        <tr>
            <th valign="middle"
                style="height: 25px; line-height: 25px; padding: 15px 35px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #42a3d3; background-color: #49bcff; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
                <font face="微软雅黑" size="5" style="color: rgb(255, 255, 255); ">验证码（JIAFly）</font>
            </th>
        </tr>
        <tr>
            <td>
                <div style="padding:25px 35px 40px; background-color:#fff;">
                    <h2 style="margin: 5px 0px; ">
                        <font color="#333333" style="line-height: 20px; ">
                            <font style="line-height: 22px; " size="4">
                                亲爱的 <span th:text="${username}"></span></font>
                        </font>
                    </h2>
                    <p>首先感谢您加入本&nbsp;站！<br>
                        您的账号：<b th:text="${username}"></b><br>
                        您的邮箱：<b th:text="${email}"></b><br>
                        您的验证码是：</p><br>
                    <h3 align="center">
                        <font style="line-height: 22px;" size="4" color="red">
                            <span th:text="${verifyCode}"></span>
                        </font>
                        <font style="line-height: 22px;" size="4">
                            <span>(15分钟内有效)</span>
                        </font>
                    </h3>
                    <p>您使用时的IP：<b>***.***.***.***</b><br>
                        您使用的地址：<b>北京市</b><br><br>
                        当您在使用本网站时，请遵守当地法律法规。<br>
                        如您有任何疑问请联系本站管理员：<b>liuyi@jiafly.com</b></p><br>
                    <p align="right"><a href="https://www.jiafly.com">JIAFly 团队</a>竭诚为您服务</p>
                    <p align="right" th:text="${currentTime}"></p>
                    <div style="width:700px;margin:0 auto;">
                        <div style="padding:10px 10px 0;border-top:1px solid #ccc;color:#747474;margin-bottom:20px;line-height:1.3em;font-size:12px;">
                            <p>
                            <center>[www.jiafly.com]</center>
                            </p><p>*此为系统邮件，请勿回复！<br>
                            *若您最近未使用本电子邮件新建 Jiafly 账户，您可以放心地忽略此邮件。
                        </p>
                            <!--                            <p>?***</p>-->
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>